node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
coverage.json
*.lcov
.DS_Store
*.log
dist
.vscode
.idea
*.swp
*.swo
*~
e2e
src/environments/environment.ts
src/environments/environment.development.ts
src/environments/environment.mock.ts
src/environments/environment.prod.ts 